.sidebar{
    width: 150px;
    transition: width 0.3s;
    background-color: rgba(46, 0, 83, 0.774);
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 1;
}

.sidebar button{
    margin-top: 15px;
    height: 30px;
}

.sidebar.collapsed {
    width: 60px;
}