.note{
    height: fit-content;
    background-color: #213555;
    color: #F5EFE7;
    border-radius: 10px;
    padding: 2px;
   
    display: flex;
    flex-direction: column;
}

.note .title{
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    margin-top: 4px;
}

.note textarea {
    resize: none;
    min-height: auto;
}

.note .button_Holder{
    display: flex;
    justify-content: end;
}

.note .button_Holder .button{
    margin-top: 0px;
}

.note .dateCreated{
    margin: 0px;
    width: fit-content;
    align-self: flex-end;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 12px;
}