.note{
    height: 500px;
    background-color: #D8C4B6;
    color: #213555;
    border-radius: 10px;
    padding: 15px;
   
    display: flex;
    flex-direction: column;
}

.note textarea {
    resize: none; /* Disables resizing */
}

.note .button_Holder{
    display: flex;
    justify-content: end;
}