.sidebar{
    width: 150px;
    transition: width 0.3s;
    background-color: #3E5879;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.sidebar.collapse {
    width: 60px;
}


.sidebar .buttonHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: inherit;
    margin-top: 60px;
    padding: inherit;
}

.sidebar .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    height: 50px;
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #F5EFE7;
    border: 2px solid #D1C9B8;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  

.sidebar .button:hover {
    background-color: #E0D7C7;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
  
.sidebar .button:active {
    background-color: #C9B89F;
    transform: translateY(2px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}
  
.sidebar .button:focus {
    border: 2px solid #A9A08E;
}


@media (max-width: 768px) {
    .sidebar{
        width: 100px;
    }
}
  
@media (max-width: 480px) {
    .sidebar{
        width: 100px;
        z-index: 1;
    }

    .sidebar.collapse{
        width: 40px;
    }

    .sidebar .button{
        margin-top: 15px;
        height: 30px;
        font-size: 14px;
        justify-content: start;
        align-items: center;
    }
}