.content{
    display: grid;
    grid-template-rows: auto auto;
}

.addNote{
    display: flex;
    flex-direction: column;
}

.noteList{
    background-color: goldenrod;
    display: flex;
    padding: 10px;
}