.navbar{
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5EFE7;
  font-family: "Lora", serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.404);
}

.navbar .holderA{
  padding-left: 21px;
}

.navbar .sidebarToggleBtn{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: #3E5879;
}

.navbar .icon_brandName{
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar .holderB{
  padding-right: 10px;
}


@media (max-width: 768px) {
  .navbar {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar .holderA{
    padding-left: 15px;
  }
}